* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    list-style-type: none;
    text-decoration: none;

    --mainSizeFont: 3em;
    --mainClockColor: white;
}

body {
    background-image: url("img/anastasia-zanko-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#clock-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#clock {
    font-size: var(--mainSizeFont);
    color: var(--mainClockColor);
    backdrop-filter: blur(20px);
    padding: 1em 5em;
    border-radius: 5px;
}